<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <payment>
            <phipayment>
                <active>1</active>
                <model>Prysoms\PhiPayments\Model\PaymentMethod</model>
                <title>PhiPayment</title>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
            </phipayment>
        </payment>
    </default>
</config>
