<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="phipayment" frontName="phipayment">
            <module name="Prysoms_PhiPayments"/>
        </route>
    </router>
</config>
